In [1]:
import pandas as pd
import numpy as np

In [4]:
df = pd.read_csv('phone_data.csv')

In [5]:
df.head

<bound method NDFrame.head of      index            date   duration  item    month    network network_type
0        0  15/10/14 06:58     34.429  data  2014-11       data         data
1        1  15/10/14 06:58     13.000  call  2014-11   Vodafone       mobile
2        2  15/10/14 14:46     23.000  call  2014-11     Meteor       mobile
3        3  15/10/14 14:48      4.000  call  2014-11      Tesco       mobile
4        4  15/10/14 17:27      4.000  call  2014-11      Tesco       mobile
5        5  15/10/14 18:55      4.000  call  2014-11      Tesco       mobile
6        6  16/10/14 06:58     34.429  data  2014-11       data         data
7        7  16/10/14 15:01    602.000  call  2014-11      Three       mobile
8        8  16/10/14 15:12   1050.000  call  2014-11      Three       mobile
9        9  16/10/14 15:30     19.000  call  2014-11  voicemail    voicemail
10      10  16/10/14 16:21   1183.000  call  2014-11      Three       mobile
11      11  16/10/14 22:18      1.000   sms  2014-11     Meteor       mobile
12      12  16/10/14 22:21      1.000   sms  2014-11     Meteor       mobile
13      13  17/10/14 06:58     34.429  data  2014-11       data         data
14      14  17/10/14 10:53      1.000   sms  2014-11      Tesco       mobile
15      15  17/10/14 11:19      1.000   sms  2014-11      Tesco       mobile
16      16  17/10/14 11:20      1.000   sms  2014-11     Meteor       mobile
17      17  17/10/14 17:22      1.000   sms  2014-11   Vodafone       mobile
18      18  17/10/14 17:23      1.000   sms  2014-11   Vodafone       mobile
19      19  17/10/14 17:26     92.000  call  2014-11      Three       mobile
20      20  17/10/14 17:29      4.000  call  2014-11   Vodafone       mobile
21      21  17/10/14 17:30    375.000  call  2014-11      Tesco       mobile
22      22  17/10/14 17:42      1.000   sms  2014-11   Vodafone       mobile
23      23  17/10/14 17:44      1.000   sms  2014-11   Vodafone       mobile
24      24  17/10/14 17:44      1.000   sms  2014-11   Vodafone       mobile
25      25  17/10/14 17:44      1.000   sms  2014-11   Vodafone       mobile
26      26  18/10/14 06:58     34.429  data  2014-11       data         data
27      27  18/10/14 11:51    783.000  call  2014-11      Tesco       mobile
28      28  18/10/14 12:06      4.000  call  2014-11   Vodafone       mobile
29      29  18/10/14 12:06      3.000  call  2014-11   Vodafone       mobile
..     ...             ...        ...   ...      ...        ...          ...
800    800  02/03/15 14:53      2.000  call  2015-03  voicemail    voicemail
801    801  02/03/15 14:54     93.000  call  2015-03  voicemail    voicemail
802    802  02/03/15 17:35    192.000  call  2015-03     Meteor       mobile
803    803  02/03/15 20:48     34.000  call  2015-03      Tesco       mobile
804    804  03/03/15 06:58     34.429  data  2015-03       data         data
805    805  03/03/15 09:57     76.000  call  2015-03   landline     landline
806    806  03/03/15 09:59    355.000  call  2015-03      Three       mobile
807    807  03/03/15 10:12    745.000  call  2015-03   Vodafone       mobile
808    808  03/03/15 10:27     57.000  call  2015-03   Vodafone       mobile
809    809  03/03/15 14:34   1325.000  call  2015-03   Vodafone       mobile
810    810  03/03/15 18:36    768.000  call  2015-03      Three       mobile
811    811  04/03/15 06:58     34.429  data  2015-03       data         data
812    812  04/03/15 07:02      1.000   sms  2015-03   Vodafone       mobile
813    813  04/03/15 07:16      1.000   sms  2015-03   Vodafone       mobile
814    814  04/03/15 10:30      1.000   sms  2015-03      Three       mobile
815    815  04/03/15 10:30      1.000   sms  2015-03      Three       mobile
816    816  04/03/15 12:29  10528.000  call  2015-03   landline     landline
817    817  05/03/15 06:58     34.429  data  2015-03       data         data
818    818  06/03/15 06:58     34.429  data  2015-03       data         data
819    819  07/03/15 06:58     34.429  data  2015-03       data         data
820    820  08/03/15 06:58     34.429  data  2015-03       data         data
821    821  09/03/15 06:58     34.429  data  2015-03       data         data
822    822  10/03/15 06:58     34.429  data  2015-03       data         data
823    823  11/03/15 06:58     34.429  data  2015-03       data         data
824    824  12/03/15 06:58     34.429  data  2015-03       data         data
825    825  13/03/15 00:38      1.000   sms  2015-03      world        world
826    826  13/03/15 00:39      1.000   sms  2015-03   Vodafone       mobile
827    827  13/03/15 06:58     34.429  data  2015-03       data         data
828    828  14/03/15 00:13      1.000   sms  2015-03      world        world
829    829  14/03/15 00:16      1.000   sms  2015-03      world        world

[830 rows x 7 columns]>

In [7]:
df.shape

(830, 7)

In [8]:
print(df['item'])

0      data
1      call
2      call
3      call
4      call
5      call
6      data
7      call
8      call
9      call
10     call
11      sms
12      sms
13     data
14      sms
15      sms
16      sms
17      sms
18      sms
19     call
20     call
21     call
22      sms
23      sms
24      sms
25      sms
26     data
27     call
28     call
29     call
       ...
800    call
801    call
802    call
803    call
804    data
805    call
806    call
807    call
808    call
809    call
810    call
811    data
812     sms
813     sms
814     sms
815     sms
816    call
817    data
818    data
819    data
820    data
821    data
822    data
823    data
824    data
825     sms
826     sms
827    data
828     sms
829     sms
Name: item, Length: 830, dtype: object

In [9]:
print(df.item.head())

0    data
1    call
2    call
3    call
4    call
Name: item, dtype: object

In [10]:
df[['item','duration','month']]

     item   duration    month
0    data     34.429  2014-11
1    call     13.000  2014-11
2    call     23.000  2014-11
3    call      4.000  2014-11
4    call      4.000  2014-11
5    call      4.000  2014-11
6    data     34.429  2014-11
7    call    602.000  2014-11
8    call   1050.000  2014-11
9    call     19.000  2014-11
10   call   1183.000  2014-11
11    sms      1.000  2014-11
12    sms      1.000  2014-11
13   data     34.429  2014-11
14    sms      1.000  2014-11
15    sms      1.000  2014-11
16    sms      1.000  2014-11
17    sms      1.000  2014-11
18    sms      1.000  2014-11
19   call     92.000  2014-11
20   call      4.000  2014-11
21   call    375.000  2014-11
22    sms      1.000  2014-11
23    sms      1.000  2014-11
24    sms      1.000  2014-11
25    sms      1.000  2014-11
26   data     34.429  2014-11
27   call    783.000  2014-11
28   call      4.000  2014-11
29   call      3.000  2014-11
..    ...        ...      ...
800  call      2.000  2015-03
801  call     93.000  2015-03
802  call    192.000  2015-03
803  call     34.000  2015-03
804  data     34.429  2015-03
805  call     76.000  2015-03
806  call    355.000  2015-03
807  call    745.000  2015-03
808  call     57.000  2015-03
809  call   1325.000  2015-03
810  call    768.000  2015-03
811  data     34.429  2015-03
812   sms      1.000  2015-03
813   sms      1.000  2015-03
814   sms      1.000  2015-03
815   sms      1.000  2015-03
816  call  10528.000  2015-03
817  data     34.429  2015-03
818  data     34.429  2015-03
819  data     34.429  2015-03
820  data     34.429  2015-03
821  data     34.429  2015-03
822  data     34.429  2015-03
823  data     34.429  2015-03
824  data     34.429  2015-03
825   sms      1.000  2015-03
826   sms      1.000  2015-03
827  data     34.429  2015-03
828   sms      1.000  2015-03
829   sms      1.000  2015-03

[830 rows x 3 columns]

In [11]:
df.iloc[:8,:4]

   index            date  duration  item
0      0  15/10/14 06:58    34.429  data
1      1  15/10/14 06:58    13.000  call
2      2  15/10/14 14:46    23.000  call
3      3  15/10/14 14:48     4.000  call
4      4  15/10/14 17:27     4.000  call
5      5  15/10/14 18:55     4.000  call
6      6  16/10/14 06:58    34.429  data
7      7  16/10/14 15:01   602.000  call

In [17]:
df.loc[8:25]

    index            date  duration  item    month    network network_type
8       8  16/10/14 15:12  1050.000  call  2014-11      Three       mobile
9       9  16/10/14 15:30    19.000  call  2014-11  voicemail    voicemail
10     10  16/10/14 16:21  1183.000  call  2014-11      Three       mobile
11     11  16/10/14 22:18     1.000   sms  2014-11     Meteor       mobile
12     12  16/10/14 22:21     1.000   sms  2014-11     Meteor       mobile
13     13  17/10/14 06:58    34.429  data  2014-11       data         data
14     14  17/10/14 10:53     1.000   sms  2014-11      Tesco       mobile
15     15  17/10/14 11:19     1.000   sms  2014-11      Tesco       mobile
16     16  17/10/14 11:20     1.000   sms  2014-11     Meteor       mobile
17     17  17/10/14 17:22     1.000   sms  2014-11   Vodafone       mobile
18     18  17/10/14 17:23     1.000   sms  2014-11   Vodafone       mobile
19     19  17/10/14 17:26    92.000  call  2014-11      Three       mobile
20     20  17/10/14 17:29     4.000  call  2014-11   Vodafone       mobile
21     21  17/10/14 17:30   375.000  call  2014-11      Tesco       mobile
22     22  17/10/14 17:42     1.000   sms  2014-11   Vodafone       mobile
23     23  17/10/14 17:44     1.000   sms  2014-11   Vodafone       mobile
24     24  17/10/14 17:44     1.000   sms  2014-11   Vodafone       mobile
25     25  17/10/14 17:44     1.000   sms  2014-11   Vodafone       mobile

#BOOLEAN INDEXING

and &

or |

Equal to ==

Not equal to !=

Not in ~

Equals: ==

Not equals: !=

Greater than, less than: > or <

Greater than or equal to >=

Less than or equal to <=

In [19]:
condition = (df.item == 'call')
condition

0      False
1       True
2       True
3       True
4       True
5       True
6      False
7       True
8       True
9       True
10      True
11     False
12     False
13     False
14     False
15     False
16     False
17     False
18     False
19      True
20      True
21      True
22     False
23     False
24     False
25     False
26     False
27      True
28      True
29      True
       ...
800     True
801     True
802     True
803     True
804    False
805     True
806     True
807     True
808     True
809     True
810     True
811    False
812    False
813    False
814    False
815    False
816     True
817    False
818    False
819    False
820    False
821    False
822    False
823    False
824    False
825    False
826    False
827    False
828    False
829    False
Name: item, Length: 830, dtype: bool

In [20]:
condition = (df.item == 'call')
df[condition]

     index            date  duration  item    month    network network_type
1        1  15/10/14 06:58      13.0  call  2014-11   Vodafone       mobile
2        2  15/10/14 14:46      23.0  call  2014-11     Meteor       mobile
3        3  15/10/14 14:48       4.0  call  2014-11      Tesco       mobile
4        4  15/10/14 17:27       4.0  call  2014-11      Tesco       mobile
5        5  15/10/14 18:55       4.0  call  2014-11      Tesco       mobile
7        7  16/10/14 15:01     602.0  call  2014-11      Three       mobile
8        8  16/10/14 15:12    1050.0  call  2014-11      Three       mobile
9        9  16/10/14 15:30      19.0  call  2014-11  voicemail    voicemail
10      10  16/10/14 16:21    1183.0  call  2014-11      Three       mobile
19      19  17/10/14 17:26      92.0  call  2014-11      Three       mobile
20      20  17/10/14 17:29       4.0  call  2014-11   Vodafone       mobile
21      21  17/10/14 17:30     375.0  call  2014-11      Tesco       mobile
27      27  18/10/14 11:51     783.0  call  2014-11      Tesco       mobile
28      28  18/10/14 12:06       4.0  call  2014-11   Vodafone       mobile
29      29  18/10/14 12:06       3.0  call  2014-11   Vodafone       mobile
30      30  18/10/14 13:08     101.0  call  2014-11   Vodafone       mobile
31      31  18/10/14 13:10    1714.0  call  2014-11      Three       mobile
32      32  18/10/14 14:01      96.0  call  2014-11  voicemail    voicemail
34      34  18/10/14 20:44     384.0  call  2014-11      Three       mobile
35      35  18/10/14 21:04       4.0  call  2014-11      Three       mobile
40      40  19/10/14 14:47      53.0  call  2014-11      Three       mobile
41      41  19/10/14 15:46      86.0  call  2014-11      Tesco       mobile
42      42  19/10/14 16:21      23.0  call  2014-11      Three       mobile
43      43  19/10/14 16:30      38.0  call  2014-11      Three       mobile
44      44  19/10/14 20:25     428.0  call  2014-11      Three       mobile
46      46  20/10/14 09:43      69.0  call  2014-11  voicemail    voicemail
47      47  20/10/14 09:43      18.0  call  2014-11  voicemail    voicemail
48      48  20/10/14 13:55       3.0  call  2014-11   Vodafone       mobile
49      49  20/10/14 13:56       6.0  call  2014-11   landline     landline
50      50  20/10/14 18:14       5.0  call  2014-11      Tesco       mobile
..     ...             ...       ...   ...      ...        ...          ...
769    769  25/02/15 13:26     194.0  call  2015-03      Tesco       mobile
770    770  25/02/15 13:46     229.0  call  2015-03      Tesco       mobile
771    771  25/02/15 15:45      32.0  call  2015-03   Vodafone       mobile
773    773  26/02/15 16:38     570.0  call  2015-03   Vodafone       mobile
774    774  26/02/15 22:34      29.0  call  2015-03  voicemail    voicemail
776    776  27/02/15 13:50      27.0  call  2015-03      Three       mobile
777    777  27/02/15 14:33     107.0  call  2015-03      Three       mobile
778    778  27/02/15 14:36     128.0  call  2015-03   Vodafone       mobile
780    780  28/02/15 14:09     335.0  call  2015-03   landline     landline
781    781  28/02/15 14:57      49.0  call  2015-03     Meteor       mobile
782    782  28/02/15 15:09       5.0  call  2015-03      Three       mobile
783    783  28/02/15 15:49     305.0  call  2015-03   landline     landline
784    784  28/02/15 16:00     207.0  call  2015-03   landline     landline
785    785  28/02/15 17:13      11.0  call  2015-03   landline     landline
786    786  28/02/15 17:14       3.0  call  2015-03   landline     landline
787    787  28/02/15 17:17      33.0  call  2015-03   landline     landline
788    788  28/02/15 21:25     357.0  call  2015-03      Three       mobile
792    792  01/03/15 12:19       9.0  call  2015-03     Meteor       mobile
799    799  02/03/15 13:07     463.0  call  2015-03      Three       mobile
800    800  02/03/15 14:53       2.0  call  2015-03  voicemail    voicemail
801    801  02/03/15 14:54      93.0  call  2015-03  voicemail    voicemail
802    802  02/03/15 17:35     192.0  call  2015-03     Meteor       mobile
803    803  02/03/15 20:48      34.0  call  2015-03      Tesco       mobile
805    805  03/03/15 09:57      76.0  call  2015-03   landline     landline
806    806  03/03/15 09:59     355.0  call  2015-03      Three       mobile
807    807  03/03/15 10:12     745.0  call  2015-03   Vodafone       mobile
808    808  03/03/15 10:27      57.0  call  2015-03   Vodafone       mobile
809    809  03/03/15 14:34    1325.0  call  2015-03   Vodafone       mobile
810    810  03/03/15 18:36     768.0  call  2015-03      Three       mobile
816    816  04/03/15 12:29   10528.0  call  2015-03   landline     landline

[388 rows x 7 columns]

In [21]:
 condition = (df.item == 'call') & (df.network == 'Vodafone')
df[condition]

     index            date  duration  item    month   network network_type
1        1  15/10/14 06:58      13.0  call  2014-11  Vodafone       mobile
20      20  17/10/14 17:29       4.0  call  2014-11  Vodafone       mobile
28      28  18/10/14 12:06       4.0  call  2014-11  Vodafone       mobile
29      29  18/10/14 12:06       3.0  call  2014-11  Vodafone       mobile
30      30  18/10/14 13:08     101.0  call  2014-11  Vodafone       mobile
48      48  20/10/14 13:55       3.0  call  2014-11  Vodafone       mobile
51      51  20/10/14 18:24     131.0  call  2014-11  Vodafone       mobile
64      64  23/10/14 11:25      24.0  call  2014-11  Vodafone       mobile
96      96  29/10/14 12:56     442.0  call  2014-11  Vodafone       mobile
98      98  30/10/14 14:31     463.0  call  2014-11  Vodafone       mobile
99      99  30/10/14 19:48       4.0  call  2014-11  Vodafone       mobile
112    112  01/11/14 15:13     955.0  call  2014-11  Vodafone       mobile
123    123  03/11/14 10:37       7.0  call  2014-11  Vodafone       mobile
124    124  03/11/14 10:47      37.0  call  2014-11  Vodafone       mobile
129    129  03/11/14 17:03      90.0  call  2014-11  Vodafone       mobile
156    156  05/11/14 19:35      29.0  call  2014-11  Vodafone       mobile
162    162  06/11/14 09:47     150.0  call  2014-11  Vodafone       mobile
166    166  06/11/14 11:47       8.0  call  2014-11  Vodafone       mobile
169    169  06/11/14 18:07     452.0  call  2014-11  Vodafone       mobile
171    171  07/11/14 09:33    1205.0  call  2014-11  Vodafone       mobile
193    193  10/11/14 09:29     178.0  call  2014-11  Vodafone       mobile
200    200  11/11/14 09:28       3.0  call  2014-11  Vodafone       mobile
201    201  11/11/14 11:32       3.0  call  2014-11  Vodafone       mobile
224    224  12/11/14 19:01       7.0  call  2014-11  Vodafone       mobile
236    236  16/11/14 14:05       4.0  call  2014-12  Vodafone       mobile
268    268  21/11/14 11:31     982.0  call  2014-12  Vodafone       mobile
277    277  22/11/14 12:10      90.0  call  2014-12  Vodafone       mobile
278    278  22/11/14 14:30      13.0  call  2014-12  Vodafone       mobile
279    279  22/11/14 14:33      20.0  call  2014-12  Vodafone       mobile
280    280  22/11/14 14:34       2.0  call  2014-12  Vodafone       mobile
..     ...             ...       ...   ...      ...       ...          ...
433    433  22/12/14 14:15      47.0  call  2015-01  Vodafone       mobile
459    459  24/12/14 17:07      37.0  call  2015-01  Vodafone       mobile
506    506  02/01/15 11:27     640.0  call  2015-01  Vodafone       mobile
510    510  03/01/15 12:01     158.0  call  2015-01  Vodafone       mobile
513    513  04/01/15 14:20       3.0  call  2015-01  Vodafone       mobile
514    514  04/01/15 14:31       6.0  call  2015-01  Vodafone       mobile
515    515  04/01/15 14:32      41.0  call  2015-01  Vodafone       mobile
533    533  06/01/15 13:29     295.0  call  2015-01  Vodafone       mobile
536    536  06/01/15 20:40      29.0  call  2015-01  Vodafone       mobile
558    558  09/01/15 10:07       4.0  call  2015-01  Vodafone       mobile
559    559  09/01/15 17:32      57.0  call  2015-01  Vodafone       mobile
562    562  10/01/15 14:36       6.0  call  2015-01  Vodafone       mobile
563    563  10/01/15 14:44     398.0  call  2015-01  Vodafone       mobile
633    633  21/01/15 19:59     491.0  call  2015-02  Vodafone       mobile
636    636  22/01/15 19:00    1107.0  call  2015-02  Vodafone       mobile
647    647  25/01/15 09:16       4.0  call  2015-02  Vodafone       mobile
656    656  28/01/15 09:44       8.0  call  2015-02  Vodafone       mobile
672    672  31/01/15 13:14       7.0  call  2015-02  Vodafone       mobile
694    694  06/02/15 10:37     128.0  call  2015-02  Vodafone       mobile
700    700  07/02/15 10:03     119.0  call  2015-02  Vodafone       mobile
732    732  13/02/15 10:58     451.0  call  2015-03  Vodafone       mobile
733    733  13/02/15 21:13       8.0  call  2015-03  Vodafone       mobile
752    752  20/02/15 13:45      68.0  call  2015-03  Vodafone       mobile
763    763  25/02/15 12:58     129.0  call  2015-03  Vodafone       mobile
771    771  25/02/15 15:45      32.0  call  2015-03  Vodafone       mobile
773    773  26/02/15 16:38     570.0  call  2015-03  Vodafone       mobile
778    778  27/02/15 14:36     128.0  call  2015-03  Vodafone       mobile
807    807  03/03/15 10:12     745.0  call  2015-03  Vodafone       mobile
808    808  03/03/15 10:27      57.0  call  2015-03  Vodafone       mobile
809    809  03/03/15 14:34    1325.0  call  2015-03  Vodafone       mobile

[66 rows x 7 columns]

NOW IF YOU WANT TO SEE THE ITEMS WHICH ARE NOT INCLUDED (EXCLUDED ONES)

In [22]:
condition = (df.item == 'call')
df[~condition]

     index            date  duration  item    month   network network_type
0        0  15/10/14 06:58    34.429  data  2014-11      data         data
6        6  16/10/14 06:58    34.429  data  2014-11      data         data
11      11  16/10/14 22:18     1.000   sms  2014-11    Meteor       mobile
12      12  16/10/14 22:21     1.000   sms  2014-11    Meteor       mobile
13      13  17/10/14 06:58    34.429  data  2014-11      data         data
14      14  17/10/14 10:53     1.000   sms  2014-11     Tesco       mobile
15      15  17/10/14 11:19     1.000   sms  2014-11     Tesco       mobile
16      16  17/10/14 11:20     1.000   sms  2014-11    Meteor       mobile
17      17  17/10/14 17:22     1.000   sms  2014-11  Vodafone       mobile
18      18  17/10/14 17:23     1.000   sms  2014-11  Vodafone       mobile
22      22  17/10/14 17:42     1.000   sms  2014-11  Vodafone       mobile
23      23  17/10/14 17:44     1.000   sms  2014-11  Vodafone       mobile
24      24  17/10/14 17:44     1.000   sms  2014-11  Vodafone       mobile
25      25  17/10/14 17:44     1.000   sms  2014-11  Vodafone       mobile
26      26  18/10/14 06:58    34.429  data  2014-11      data         data
33      33  18/10/14 18:52     1.000   sms  2014-11  Vodafone       mobile
36      36  18/10/14 21:06     1.000   sms  2014-11     Three       mobile
37      37  18/10/14 21:23     1.000   sms  2014-11  Vodafone       mobile
38      38  18/10/14 22:37     1.000   sms  2014-11     Three       mobile
39      39  19/10/14 06:58    34.429  data  2014-11      data         data
45      45  20/10/14 06:58    34.429  data  2014-11      data         data
52      52  20/10/14 19:59     1.000   sms  2014-11  Vodafone       mobile
53      53  20/10/14 20:16     1.000   sms  2014-11  Vodafone       mobile
54      54  21/10/14 06:58    34.429  data  2014-11      data         data
56      56  22/10/14 06:58    34.429  data  2014-11      data         data
58      58  23/10/14 06:58    34.429  data  2014-11      data         data
61      61  23/10/14 10:46     1.000   sms  2014-11     Tesco       mobile
62      62  23/10/14 10:54     1.000   sms  2014-11  Vodafone       mobile
63      63  23/10/14 11:17     1.000   sms  2014-11  Vodafone       mobile
66      66  24/10/14 06:58    34.429  data  2014-11      data         data
..     ...             ...       ...   ...      ...       ...          ...
775    775  27/02/15 06:58    34.429  data  2015-03      data         data
779    779  28/02/15 06:58    34.429  data  2015-03      data         data
789    789  28/02/15 21:55     1.000   sms  2015-03  Vodafone       mobile
790    790  28/02/15 22:39     1.000   sms  2015-03     Three       mobile
791    791  01/03/15 06:58    34.429  data  2015-03      data         data
793    793  02/03/15 06:58    34.429  data  2015-03      data         data
794    794  02/03/15 09:19     1.000   sms  2015-03  Vodafone       mobile
795    795  02/03/15 09:19     1.000   sms  2015-03  Vodafone       mobile
796    796  02/03/15 09:23     1.000   sms  2015-03  Vodafone       mobile
797    797  02/03/15 09:30     1.000   sms  2015-03  Vodafone       mobile
798    798  02/03/15 09:30     1.000   sms  2015-03  Vodafone       mobile
804    804  03/03/15 06:58    34.429  data  2015-03      data         data
811    811  04/03/15 06:58    34.429  data  2015-03      data         data
812    812  04/03/15 07:02     1.000   sms  2015-03  Vodafone       mobile
813    813  04/03/15 07:16     1.000   sms  2015-03  Vodafone       mobile
814    814  04/03/15 10:30     1.000   sms  2015-03     Three       mobile
815    815  04/03/15 10:30     1.000   sms  2015-03     Three       mobile
817    817  05/03/15 06:58    34.429  data  2015-03      data         data
818    818  06/03/15 06:58    34.429  data  2015-03      data         data
819    819  07/03/15 06:58    34.429  data  2015-03      data         data
820    820  08/03/15 06:58    34.429  data  2015-03      data         data
821    821  09/03/15 06:58    34.429  data  2015-03      data         data
822    822  10/03/15 06:58    34.429  data  2015-03      data         data
823    823  11/03/15 06:58    34.429  data  2015-03      data         data
824    824  12/03/15 06:58    34.429  data  2015-03      data         data
825    825  13/03/15 00:38     1.000   sms  2015-03     world        world
826    826  13/03/15 00:39     1.000   sms  2015-03  Vodafone       mobile
827    827  13/03/15 06:58    34.429  data  2015-03      data         data
828    828  14/03/15 00:13     1.000   sms  2015-03     world        world
829    829  14/03/15 00:16     1.000   sms  2015-03     world        world

[442 rows x 7 columns]

In [24]:
 condition = (df.item == 'call') | (df.network == 'Vodafone')
df[condition]

     index            date  duration  item    month    network network_type
1        1  15/10/14 06:58      13.0  call  2014-11   Vodafone       mobile
2        2  15/10/14 14:46      23.0  call  2014-11     Meteor       mobile
3        3  15/10/14 14:48       4.0  call  2014-11      Tesco       mobile
4        4  15/10/14 17:27       4.0  call  2014-11      Tesco       mobile
5        5  15/10/14 18:55       4.0  call  2014-11      Tesco       mobile
7        7  16/10/14 15:01     602.0  call  2014-11      Three       mobile
8        8  16/10/14 15:12    1050.0  call  2014-11      Three       mobile
9        9  16/10/14 15:30      19.0  call  2014-11  voicemail    voicemail
10      10  16/10/14 16:21    1183.0  call  2014-11      Three       mobile
17      17  17/10/14 17:22       1.0   sms  2014-11   Vodafone       mobile
18      18  17/10/14 17:23       1.0   sms  2014-11   Vodafone       mobile
19      19  17/10/14 17:26      92.0  call  2014-11      Three       mobile
20      20  17/10/14 17:29       4.0  call  2014-11   Vodafone       mobile
21      21  17/10/14 17:30     375.0  call  2014-11      Tesco       mobile
22      22  17/10/14 17:42       1.0   sms  2014-11   Vodafone       mobile
23      23  17/10/14 17:44       1.0   sms  2014-11   Vodafone       mobile
24      24  17/10/14 17:44       1.0   sms  2014-11   Vodafone       mobile
25      25  17/10/14 17:44       1.0   sms  2014-11   Vodafone       mobile
27      27  18/10/14 11:51     783.0  call  2014-11      Tesco       mobile
28      28  18/10/14 12:06       4.0  call  2014-11   Vodafone       mobile
29      29  18/10/14 12:06       3.0  call  2014-11   Vodafone       mobile
30      30  18/10/14 13:08     101.0  call  2014-11   Vodafone       mobile
31      31  18/10/14 13:10    1714.0  call  2014-11      Three       mobile
32      32  18/10/14 14:01      96.0  call  2014-11  voicemail    voicemail
33      33  18/10/14 18:52       1.0   sms  2014-11   Vodafone       mobile
34      34  18/10/14 20:44     384.0  call  2014-11      Three       mobile
35      35  18/10/14 21:04       4.0  call  2014-11      Three       mobile
37      37  18/10/14 21:23       1.0   sms  2014-11   Vodafone       mobile
40      40  19/10/14 14:47      53.0  call  2014-11      Three       mobile
41      41  19/10/14 15:46      86.0  call  2014-11      Tesco       mobile
..     ...             ...       ...   ...      ...        ...          ...
781    781  28/02/15 14:57      49.0  call  2015-03     Meteor       mobile
782    782  28/02/15 15:09       5.0  call  2015-03      Three       mobile
783    783  28/02/15 15:49     305.0  call  2015-03   landline     landline
784    784  28/02/15 16:00     207.0  call  2015-03   landline     landline
785    785  28/02/15 17:13      11.0  call  2015-03   landline     landline
786    786  28/02/15 17:14       3.0  call  2015-03   landline     landline
787    787  28/02/15 17:17      33.0  call  2015-03   landline     landline
788    788  28/02/15 21:25     357.0  call  2015-03      Three       mobile
789    789  28/02/15 21:55       1.0   sms  2015-03   Vodafone       mobile
792    792  01/03/15 12:19       9.0  call  2015-03     Meteor       mobile
794    794  02/03/15 09:19       1.0   sms  2015-03   Vodafone       mobile
795    795  02/03/15 09:19       1.0   sms  2015-03   Vodafone       mobile
796    796  02/03/15 09:23       1.0   sms  2015-03   Vodafone       mobile
797    797  02/03/15 09:30       1.0   sms  2015-03   Vodafone       mobile
798    798  02/03/15 09:30       1.0   sms  2015-03   Vodafone       mobile
799    799  02/03/15 13:07     463.0  call  2015-03      Three       mobile
800    800  02/03/15 14:53       2.0  call  2015-03  voicemail    voicemail
801    801  02/03/15 14:54      93.0  call  2015-03  voicemail    voicemail
802    802  02/03/15 17:35     192.0  call  2015-03     Meteor       mobile
803    803  02/03/15 20:48      34.0  call  2015-03      Tesco       mobile
805    805  03/03/15 09:57      76.0  call  2015-03   landline     landline
806    806  03/03/15 09:59     355.0  call  2015-03      Three       mobile
807    807  03/03/15 10:12     745.0  call  2015-03   Vodafone       mobile
808    808  03/03/15 10:27      57.0  call  2015-03   Vodafone       mobile
809    809  03/03/15 14:34    1325.0  call  2015-03   Vodafone       mobile
810    810  03/03/15 18:36     768.0  call  2015-03      Three       mobile
812    812  04/03/15 07:02       1.0   sms  2015-03   Vodafone       mobile
813    813  04/03/15 07:16       1.0   sms  2015-03   Vodafone       mobile
816    816  04/03/15 12:29   10528.0  call  2015-03   landline     landline
826    826  13/03/15 00:39       1.0   sms  2015-03   Vodafone       mobile

[537 rows x 7 columns]

NOW IF YOU WANT TO ADD A COLUMN WHICH WILL BE A MULTIPLE OF A PARTICULAR COLUMN

In [26]:
df['new_column'] = df['duration']*3
df

,index,date,duration,item,month,network,network_type,new_column
0,0,15/10/14 06:58,34.429,data,2014-11,data,data,103.287
1,1,15/10/14 06:58,13.000,call,2014-11,Vodafone,mobile,39.000
2,2,15/10/14 14:46,23.000,call,2014-11,Meteor,mobile,69.000
3,3,15/10/14 14:48,4.000,call,2014-11,Tesco,mobile,12.000
4,4,15/10/14 17:27,4.000,call,2014-11,Tesco,mobile,12.000
5,5,15/10/14 18:55,4.000,call,2014-11,Tesco,mobile,12.000
6,6,16/10/14 06:58,34.429,data,2014-11,data,data,103.287
7,7,16/10/14 15:01,602.000,call,2014-11,Three,mobile,1806.000
8,8,16/10/14 15:12,1050.000,call,2014-11,Three,mobile,3150.000
9,9,16/10/14 15:30,19.000,call,2014-11,voicemail,voicemail,57.000
10,10,16/10/14 16:21,1183.000,call,2014-11,Three,mobile,3549.000
11,11,16/10/14 22:18,1.000,sms,2014-11,Meteor,mobile,3.000
12,12,16/10/14 22:21,1.000,sms,2014-11,Meteor,mobile,3.000
13,13,17/10/14 06:58,34.429,data,2014-11,data,data,103.287
14,14,17/10/14 10:53,1.000,sms,2014-11,Tesco,mobile,3.000
15,15,17/10/14 11:19,1.000,sms,2014-11,Tesco,mobile,3.000
16,16,17/10/14 11:20,1.000,sms,2014-11,Meteor,mobile,3.000
17,17,17/10/14 17:22,1.000,sms,2014-11,Vodafone,mobile,3.000
18,18,17/10/14 17:23,1.000,sms,2014-11,Vodafone,mobile,3.000
19,19,17/10/14 17:26,92.000,call,2014-11,Three,mobile,276.000
20,20,17/10/14 17:29,4.000,call,2014-11,Vodafone,mobile,12.000
21,21,17/10/14 17:30,375.000,call,2014-11,Tesco,mobile,1125.000
22,22,17/10/14 17:42,1.000,sms,2014-11,Vodafone,mobile,3.000
23,23,17/10/14 17:44,1.000,sms,2014-11,Vodafone,mobile,3.000
24,24,17/10/14 17:44,1.000,sms,2014-11,Vodafone,mobile,3.000
25,25,17/10/14 17:44,1.000,sms,2014-11,Vodafone,mobile,3.000
26,26,18/10/14 06:58,34.429,data,2014-11,data,data,103.287
27,27,18/10/14 11:51,783.000,call,2014-11,Tesco,mobile,2349.000
28,28,18/10/14 12:06,4.000,call,2014-11,Vodafone,mobile,12.000
29,29,18/10/14 12:06,3.000,call,2014-11,Vodafone,mobile,9.000
...,...,...,...,...,...,...,...,...
800,800,02/03/15 14:53,2.000,call,2015-03,voicemail,voicemail,6.000
801,801,02/03/15 14:54,93.000,call,2015-03,voicemail,voicemail,279.000
802,802,02/03/15 17:35,192.000,call,2015-03,Meteor,mobile,576.000
803,803,02/03/15 20:48,34.000,call,2015-03,Tesco,mobile,102.000
804,804,03/03/15 06:58,34.429,data,2015-03,data,data,103.287
805,805,03/03/15 09:57,76.000,call,2015-03,landline,landline,228.000
806,806,03/03/15 09:59,355.000,call,2015-03,Three,mobile,1065.000
807,807,03/03/15 10:12,745.000,call,2015-03,Vodafone,mobile,2235.000
808,808,03/03/15 10:27,57.000,call,2015-03,Vodafone,mobile,171.000
809,809,03/03/15 14:34,1325.000,call,2015-03,Vodafone,mobile,3975.000
810,810,03/03/15 18:36,768.000,call,2015-03,Three,mobile,2304.000
811,811,04/03/15 06:58,34.429,data,2015-03,data,data,103.287
812,812,04/03/15 07:02,1.000,sms,2015-03,Vodafone,mobile,3.000
813,813,04/03/15 07:16,1.000,sms,2015-03,Vodafone,mobile,3.000
814,814,04/03/15 10:30,1.000,sms,2015-03,Three,mobile,3.000
815,815,04/03/15 10:30,1.000,sms,2015-03,Three,mobile,3.000
816,816,04/03/15 12:29,10528.000,call,2015-03,landline,landline,31584.000
817,817,05/03/15 06:58,34.429,data,2015-03,data,data,103.287
818,818,06/03/15 06:58,34.429,data,2015-03,data,data,103.287
819,819,07/03/15 06:58,34.429,data,2015-03,data,data,103.287
820,820,08/03/15 06:58,34.429,data,2015-03,data,data,103.287
821,821,09/03/15 06:58,34.429,data,2015-03,data,data,103.287
822,822,10/03/15 06:58,34.429,data,2015-03,data,data,103.287
823,823,11/03/15 06:58,34.429,data,2015-03,data,data,103.287
824,824,12/03/15 06:58,34.429,data,2015-03,data,data,103.287
825,825,13/03/15 00:38,1.000,sms,2015-03,world,world,3.000
826,826,13/03/15 00:39,1.000,sms,2015-03,Vodafone,mobile,3.000
827,827,13/03/15 06:58,34.429,data,2015-03,data,data,103.287
828,828,14/03/15 00:13,1.000,sms,2015-03,world,world,3.000
829,829,14/03/15 00:16,1.000,sms,2015-03,world,world,3.000

In [31]:
df['new_column'] = df['network']*3
df

,index,date,duration,item,month,network,network_type,new_column
0,0,15/10/14 06:58,34.429,data,2014-11,data,data,datadatadata
1,1,15/10/14 06:58,13.000,call,2014-11,Vodafone,mobile,VodafoneVodafoneVodafone
2,2,15/10/14 14:46,23.000,call,2014-11,Meteor,mobile,MeteorMeteorMeteor
3,3,15/10/14 14:48,4.000,call,2014-11,Tesco,mobile,TescoTescoTesco
4,4,15/10/14 17:27,4.000,call,2014-11,Tesco,mobile,TescoTescoTesco
5,5,15/10/14 18:55,4.000,call,2014-11,Tesco,mobile,TescoTescoTesco
6,6,16/10/14 06:58,34.429,data,2014-11,data,data,datadatadata
7,7,16/10/14 15:01,602.000,call,2014-11,Three,mobile,ThreeThreeThree
8,8,16/10/14 15:12,1050.000,call,2014-11,Three,mobile,ThreeThreeThree
9,9,16/10/14 15:30,19.000,call,2014-11,voicemail,voicemail,voicemailvoicemailvoicemail
10,10,16/10/14 16:21,1183.000,call,2014-11,Three,mobile,ThreeThreeThree
11,11,16/10/14 22:18,1.000,sms,2014-11,Meteor,mobile,MeteorMeteorMeteor
12,12,16/10/14 22:21,1.000,sms,2014-11,Meteor,mobile,MeteorMeteorMeteor
13,13,17/10/14 06:58,34.429,data,2014-11,data,data,datadatadata
14,14,17/10/14 10:53,1.000,sms,2014-11,Tesco,mobile,TescoTescoTesco
15,15,17/10/14 11:19,1.000,sms,2014-11,Tesco,mobile,TescoTescoTesco
16,16,17/10/14 11:20,1.000,sms,2014-11,Meteor,mobile,MeteorMeteorMeteor
17,17,17/10/14 17:22,1.000,sms,2014-11,Vodafone,mobile,VodafoneVodafoneVodafone
18,18,17/10/14 17:23,1.000,sms,2014-11,Vodafone,mobile,VodafoneVodafoneVodafone
19,19,17/10/14 17:26,92.000,call,2014-11,Three,mobile,ThreeThreeThree
20,20,17/10/14 17:29,4.000,call,2014-11,Vodafone,mobile,VodafoneVodafoneVodafone
21,21,17/10/14 17:30,375.000,call,2014-11,Tesco,mobile,TescoTescoTesco
22,22,17/10/14 17:42,1.000,sms,2014-11,Vodafone,mobile,VodafoneVodafoneVodafone
23,23,17/10/14 17:44,1.000,sms,2014-11,Vodafone,mobile,VodafoneVodafoneVodafone
24,24,17/10/14 17:44,1.000,sms,2014-11,Vodafone,mobile,VodafoneVodafoneVodafone
25,25,17/10/14 17:44,1.000,sms,2014-11,Vodafone,mobile,VodafoneVodafoneVodafone
26,26,18/10/14 06:58,34.429,data,2014-11,data,data,datadatadata
27,27,18/10/14 11:51,783.000,call,2014-11,Tesco,mobile,TescoTescoTesco
28,28,18/10/14 12:06,4.000,call,2014-11,Vodafone,mobile,VodafoneVodafoneVodafone
29,29,18/10/14 12:06,3.000,call,2014-11,Vodafone,mobile,VodafoneVodafoneVodafone
...,...,...,...,...,...,...,...,...
800,800,02/03/15 14:53,2.000,call,2015-03,voicemail,voicemail,voicemailvoicemailvoicemail
801,801,02/03/15 14:54,93.000,call,2015-03,voicemail,voicemail,voicemailvoicemailvoicemail
802,802,02/03/15 17:35,192.000,call,2015-03,Meteor,mobile,MeteorMeteorMeteor
803,803,02/03/15 20:48,34.000,call,2015-03,Tesco,mobile,TescoTescoTesco
804,804,03/03/15 06:58,34.429,data,2015-03,data,data,datadatadata
805,805,03/03/15 09:57,76.000,call,2015-03,landline,landline,landlinelandlinelandline
806,806,03/03/15 09:59,355.000,call,2015-03,Three,mobile,ThreeThreeThree
807,807,03/03/15 10:12,745.000,call,2015-03,Vodafone,mobile,VodafoneVodafoneVodafone
808,808,03/03/15 10:27,57.000,call,2015-03,Vodafone,mobile,VodafoneVodafoneVodafone
809,809,03/03/15 14:34,1325.000,call,2015-03,Vodafone,mobile,VodafoneVodafoneVodafone
810,810,03/03/15 18:36,768.000,call,2015-03,Three,mobile,ThreeThreeThree
811,811,04/03/15 06:58,34.429,data,2015-03,data,data,datadatadata
812,812,04/03/15 07:02,1.000,sms,2015-03,Vodafone,mobile,VodafoneVodafoneVodafone
813,813,04/03/15 07:16,1.000,sms,2015-03,Vodafone,mobile,VodafoneVodafoneVodafone
814,814,04/03/15 10:30,1.000,sms,2015-03,Three,mobile,ThreeThreeThree
815,815,04/03/15 10:30,1.000,sms,2015-03,Three,mobile,ThreeThreeThree
816,816,04/03/15 12:29,10528.000,call,2015-03,landline,landline,landlinelandlinelandline
817,817,05/03/15 06:58,34.429,data,2015-03,data,data,datadatadata
818,818,06/03/15 06:58,34.429,data,2015-03,data,data,datadatadata
819,819,07/03/15 06:58,34.429,data,2015-03,data,data,datadatadata
820,820,08/03/15 06:58,34.429,data,2015-03,data,data,datadatadata
821,821,09/03/15 06:58,34.429,data,2015-03,data,data,datadatadata
822,822,10/03/15 06:58,34.429,data,2015-03,data,data,datadatadata
823,823,11/03/15 06:58,34.429,data,2015-03,data,data,datadatadata
824,824,12/03/15 06:58,34.429,data,2015-03,data,data,datadatadata
825,825,13/03/15 00:38,1.000,sms,2015-03,world,world,worldworldworld
826,826,13/03/15 00:39,1.000,sms,2015-03,Vodafone,mobile,VodafoneVodafoneVodafone
827,827,13/03/15 06:58,34.429,data,2015-03,data,data,datadatadata
828,828,14/03/15 00:13,1.000,sms,2015-03,world,world,worldworldworld
829,829,14/03/15 00:16,1.000,sms,2015-03,world,world,worldworldworld

In [29]:
df

,index,date,duration,item,month,network,network_type,new_column
0,0,15/10/14 06:58,34.429,data,2014-11,data,data,datadatadata
1,1,15/10/14 06:58,13.000,call,2014-11,Vodafone,mobile,VodafoneVodafoneVodafone
2,2,15/10/14 14:46,23.000,call,2014-11,Meteor,mobile,MeteorMeteorMeteor
3,3,15/10/14 14:48,4.000,call,2014-11,Tesco,mobile,TescoTescoTesco
4,4,15/10/14 17:27,4.000,call,2014-11,Tesco,mobile,TescoTescoTesco
5,5,15/10/14 18:55,4.000,call,2014-11,Tesco,mobile,TescoTescoTesco
6,6,16/10/14 06:58,34.429,data,2014-11,data,data,datadatadata
7,7,16/10/14 15:01,602.000,call,2014-11,Three,mobile,ThreeThreeThree
8,8,16/10/14 15:12,1050.000,call,2014-11,Three,mobile,ThreeThreeThree
9,9,16/10/14 15:30,19.000,call,2014-11,voicemail,voicemail,voicemailvoicemailvoicemail
10,10,16/10/14 16:21,1183.000,call,2014-11,Three,mobile,ThreeThreeThree
11,11,16/10/14 22:18,1.000,sms,2014-11,Meteor,mobile,MeteorMeteorMeteor
12,12,16/10/14 22:21,1.000,sms,2014-11,Meteor,mobile,MeteorMeteorMeteor
13,13,17/10/14 06:58,34.429,data,2014-11,data,data,datadatadata
14,14,17/10/14 10:53,1.000,sms,2014-11,Tesco,mobile,TescoTescoTesco
15,15,17/10/14 11:19,1.000,sms,2014-11,Tesco,mobile,TescoTescoTesco
16,16,17/10/14 11:20,1.000,sms,2014-11,Meteor,mobile,MeteorMeteorMeteor
17,17,17/10/14 17:22,1.000,sms,2014-11,Vodafone,mobile,VodafoneVodafoneVodafone
18,18,17/10/14 17:23,1.000,sms,2014-11,Vodafone,mobile,VodafoneVodafoneVodafone
19,19,17/10/14 17:26,92.000,call,2014-11,Three,mobile,ThreeThreeThree
20,20,17/10/14 17:29,4.000,call,2014-11,Vodafone,mobile,VodafoneVodafoneVodafone
21,21,17/10/14 17:30,375.000,call,2014-11,Tesco,mobile,TescoTescoTesco
22,22,17/10/14 17:42,1.000,sms,2014-11,Vodafone,mobile,VodafoneVodafoneVodafone
23,23,17/10/14 17:44,1.000,sms,2014-11,Vodafone,mobile,VodafoneVodafoneVodafone
24,24,17/10/14 17:44,1.000,sms,2014-11,Vodafone,mobile,VodafoneVodafoneVodafone
25,25,17/10/14 17:44,1.000,sms,2014-11,Vodafone,mobile,VodafoneVodafoneVodafone
26,26,18/10/14 06:58,34.429,data,2014-11,data,data,datadatadata
27,27,18/10/14 11:51,783.000,call,2014-11,Tesco,mobile,TescoTescoTesco
28,28,18/10/14 12:06,4.000,call,2014-11,Vodafone,mobile,VodafoneVodafoneVodafone
29,29,18/10/14 12:06,3.000,call,2014-11,Vodafone,mobile,VodafoneVodafoneVodafone
...,...,...,...,...,...,...,...,...
800,800,02/03/15 14:53,2.000,call,2015-03,voicemail,voicemail,voicemailvoicemailvoicemail
801,801,02/03/15 14:54,93.000,call,2015-03,voicemail,voicemail,voicemailvoicemailvoicemail
802,802,02/03/15 17:35,192.000,call,2015-03,Meteor,mobile,MeteorMeteorMeteor
803,803,02/03/15 20:48,34.000,call,2015-03,Tesco,mobile,TescoTescoTesco
804,804,03/03/15 06:58,34.429,data,2015-03,data,data,datadatadata
805,805,03/03/15 09:57,76.000,call,2015-03,landline,landline,landlinelandlinelandline
806,806,03/03/15 09:59,355.000,call,2015-03,Three,mobile,ThreeThreeThree
807,807,03/03/15 10:12,745.000,call,2015-03,Vodafone,mobile,VodafoneVodafoneVodafone
808,808,03/03/15 10:27,57.000,call,2015-03,Vodafone,mobile,VodafoneVodafoneVodafone
809,809,03/03/15 14:34,1325.000,call,2015-03,Vodafone,mobile,VodafoneVodafoneVodafone
810,810,03/03/15 18:36,768.000,call,2015-03,Three,mobile,ThreeThreeThree
811,811,04/03/15 06:58,34.429,data,2015-03,data,data,datadatadata
812,812,04/03/15 07:02,1.000,sms,2015-03,Vodafone,mobile,VodafoneVodafoneVodafone
813,813,04/03/15 07:16,1.000,sms,2015-03,Vodafone,mobile,VodafoneVodafoneVodafone
814,814,04/03/15 10:30,1.000,sms,2015-03,Three,mobile,ThreeThreeThree
815,815,04/03/15 10:30,1.000,sms,2015-03,Three,mobile,ThreeThreeThree
816,816,04/03/15 12:29,10528.000,call,2015-03,landline,landline,landlinelandlinelandline
817,817,05/03/15 06:58,34.429,data,2015-03,data,data,datadatadata
818,818,06/03/15 06:58,34.429,data,2015-03,data,data,datadatadata
819,819,07/03/15 06:58,34.429,data,2015-03,data,data,datadatadata
820,820,08/03/15 06:58,34.429,data,2015-03,data,data,datadatadata
821,821,09/03/15 06:58,34.429,data,2015-03,data,data,datadatadata
822,822,10/03/15 06:58,34.429,data,2015-03,data,data,datadatadata
823,823,11/03/15 06:58,34.429,data,2015-03,data,data,datadatadata
824,824,12/03/15 06:58,34.429,data,2015-03,data,data,datadatadata
825,825,13/03/15 00:38,1.000,sms,2015-03,world,world,worldworldworld
826,826,13/03/15 00:39,1.000,sms,2015-03,Vodafone,mobile,VodafoneVodafoneVodafone
827,827,13/03/15 06:58,34.429,data,2015-03,data,data,datadatadata
828,828,14/03/15 00:13,1.000,sms,2015-03,world,world,worldworldworld
829,829,14/03/15 00:16,1.000,sms,2015-03,world,world,worldworldworld

In [34]:
df.drop(['new_column'], axis = 1, inplace=True)

In [35]:
df

     index            date   duration  item    month    network network_type
0        0  15/10/14 06:58     34.429  data  2014-11       data         data
1        1  15/10/14 06:58     13.000  call  2014-11   Vodafone       mobile
2        2  15/10/14 14:46     23.000  call  2014-11     Meteor       mobile
3        3  15/10/14 14:48      4.000  call  2014-11      Tesco       mobile
4        4  15/10/14 17:27      4.000  call  2014-11      Tesco       mobile
5        5  15/10/14 18:55      4.000  call  2014-11      Tesco       mobile
6        6  16/10/14 06:58     34.429  data  2014-11       data         data
7        7  16/10/14 15:01    602.000  call  2014-11      Three       mobile
8        8  16/10/14 15:12   1050.000  call  2014-11      Three       mobile
9        9  16/10/14 15:30     19.000  call  2014-11  voicemail    voicemail
10      10  16/10/14 16:21   1183.000  call  2014-11      Three       mobile
11      11  16/10/14 22:18      1.000   sms  2014-11     Meteor       mobile
12      12  16/10/14 22:21      1.000   sms  2014-11     Meteor       mobile
13      13  17/10/14 06:58     34.429  data  2014-11       data         data
14      14  17/10/14 10:53      1.000   sms  2014-11      Tesco       mobile
15      15  17/10/14 11:19      1.000   sms  2014-11      Tesco       mobile
16      16  17/10/14 11:20      1.000   sms  2014-11     Meteor       mobile
17      17  17/10/14 17:22      1.000   sms  2014-11   Vodafone       mobile
18      18  17/10/14 17:23      1.000   sms  2014-11   Vodafone       mobile
19      19  17/10/14 17:26     92.000  call  2014-11      Three       mobile
20      20  17/10/14 17:29      4.000  call  2014-11   Vodafone       mobile
21      21  17/10/14 17:30    375.000  call  2014-11      Tesco       mobile
22      22  17/10/14 17:42      1.000   sms  2014-11   Vodafone       mobile
23      23  17/10/14 17:44      1.000   sms  2014-11   Vodafone       mobile
24      24  17/10/14 17:44      1.000   sms  2014-11   Vodafone       mobile
25      25  17/10/14 17:44      1.000   sms  2014-11   Vodafone       mobile
26      26  18/10/14 06:58     34.429  data  2014-11       data         data
27      27  18/10/14 11:51    783.000  call  2014-11      Tesco       mobile
28      28  18/10/14 12:06      4.000  call  2014-11   Vodafone       mobile
29      29  18/10/14 12:06      3.000  call  2014-11   Vodafone       mobile
..     ...             ...        ...   ...      ...        ...          ...
800    800  02/03/15 14:53      2.000  call  2015-03  voicemail    voicemail
801    801  02/03/15 14:54     93.000  call  2015-03  voicemail    voicemail
802    802  02/03/15 17:35    192.000  call  2015-03     Meteor       mobile
803    803  02/03/15 20:48     34.000  call  2015-03      Tesco       mobile
804    804  03/03/15 06:58     34.429  data  2015-03       data         data
805    805  03/03/15 09:57     76.000  call  2015-03   landline     landline
806    806  03/03/15 09:59    355.000  call  2015-03      Three       mobile
807    807  03/03/15 10:12    745.000  call  2015-03   Vodafone       mobile
808    808  03/03/15 10:27     57.000  call  2015-03   Vodafone       mobile
809    809  03/03/15 14:34   1325.000  call  2015-03   Vodafone       mobile
810    810  03/03/15 18:36    768.000  call  2015-03      Three       mobile
811    811  04/03/15 06:58     34.429  data  2015-03       data         data
812    812  04/03/15 07:02      1.000   sms  2015-03   Vodafone       mobile
813    813  04/03/15 07:16      1.000   sms  2015-03   Vodafone       mobile
814    814  04/03/15 10:30      1.000   sms  2015-03      Three       mobile
815    815  04/03/15 10:30      1.000   sms  2015-03      Three       mobile
816    816  04/03/15 12:29  10528.000  call  2015-03   landline     landline
817    817  05/03/15 06:58     34.429  data  2015-03       data         data
818    818  06/03/15 06:58     34.429  data  2015-03       data         data
819    819  07/03/15 06:58     34.429  data  2015-03       data         data
820    820  08/03/15 06:58     34.429  data  2015-03       data         data
821    821  09/03/15 06:58     34.429  data  2015-03       data         data
822    822  10/03/15 06:58     34.429  data  2015-03       data         data
823    823  11/03/15 06:58     34.429  data  2015-03       data         data
824    824  12/03/15 06:58     34.429  data  2015-03       data         data
825    825  13/03/15 00:38      1.000   sms  2015-03      world        world
826    826  13/03/15 00:39      1.000   sms  2015-03   Vodafone       mobile
827    827  13/03/15 06:58     34.429  data  2015-03       data         data
828    828  14/03/15 00:13      1.000   sms  2015-03      world        world
829    829  14/03/15 00:16      1.000   sms  2015-03      world        world

[830 rows x 7 columns]

In [38]:
# lambda function - Row wise operation
def new_duration(network, duration):
    if network=='world':
        new_duration = duration * 2
    else:
        new_duration = duration * 4
    
    return new_duration

df['new_duration'] = df.apply(lambda x: new_duration(x['network'], x['duration']), axis=1)

In [39]:
df

,index,date,duration,item,month,network,network_type,new_duration
0,0,15/10/14 06:58,34.429,data,2014-11,data,data,137.716
1,1,15/10/14 06:58,13.000,call,2014-11,Vodafone,mobile,52.000
2,2,15/10/14 14:46,23.000,call,2014-11,Meteor,mobile,92.000
3,3,15/10/14 14:48,4.000,call,2014-11,Tesco,mobile,16.000
4,4,15/10/14 17:27,4.000,call,2014-11,Tesco,mobile,16.000
5,5,15/10/14 18:55,4.000,call,2014-11,Tesco,mobile,16.000
6,6,16/10/14 06:58,34.429,data,2014-11,data,data,137.716
7,7,16/10/14 15:01,602.000,call,2014-11,Three,mobile,2408.000
8,8,16/10/14 15:12,1050.000,call,2014-11,Three,mobile,4200.000
9,9,16/10/14 15:30,19.000,call,2014-11,voicemail,voicemail,76.000
10,10,16/10/14 16:21,1183.000,call,2014-11,Three,mobile,4732.000
11,11,16/10/14 22:18,1.000,sms,2014-11,Meteor,mobile,4.000
12,12,16/10/14 22:21,1.000,sms,2014-11,Meteor,mobile,4.000
13,13,17/10/14 06:58,34.429,data,2014-11,data,data,137.716
14,14,17/10/14 10:53,1.000,sms,2014-11,Tesco,mobile,4.000
15,15,17/10/14 11:19,1.000,sms,2014-11,Tesco,mobile,4.000
16,16,17/10/14 11:20,1.000,sms,2014-11,Meteor,mobile,4.000
17,17,17/10/14 17:22,1.000,sms,2014-11,Vodafone,mobile,4.000
18,18,17/10/14 17:23,1.000,sms,2014-11,Vodafone,mobile,4.000
19,19,17/10/14 17:26,92.000,call,2014-11,Three,mobile,368.000
20,20,17/10/14 17:29,4.000,call,2014-11,Vodafone,mobile,16.000
21,21,17/10/14 17:30,375.000,call,2014-11,Tesco,mobile,1500.000
22,22,17/10/14 17:42,1.000,sms,2014-11,Vodafone,mobile,4.000
23,23,17/10/14 17:44,1.000,sms,2014-11,Vodafone,mobile,4.000
24,24,17/10/14 17:44,1.000,sms,2014-11,Vodafone,mobile,4.000
25,25,17/10/14 17:44,1.000,sms,2014-11,Vodafone,mobile,4.000
26,26,18/10/14 06:58,34.429,data,2014-11,data,data,137.716
27,27,18/10/14 11:51,783.000,call,2014-11,Tesco,mobile,3132.000
28,28,18/10/14 12:06,4.000,call,2014-11,Vodafone,mobile,16.000
29,29,18/10/14 12:06,3.000,call,2014-11,Vodafone,mobile,12.000
...,...,...,...,...,...,...,...,...
800,800,02/03/15 14:53,2.000,call,2015-03,voicemail,voicemail,8.000
801,801,02/03/15 14:54,93.000,call,2015-03,voicemail,voicemail,372.000
802,802,02/03/15 17:35,192.000,call,2015-03,Meteor,mobile,768.000
803,803,02/03/15 20:48,34.000,call,2015-03,Tesco,mobile,136.000
804,804,03/03/15 06:58,34.429,data,2015-03,data,data,137.716
805,805,03/03/15 09:57,76.000,call,2015-03,landline,landline,304.000
806,806,03/03/15 09:59,355.000,call,2015-03,Three,mobile,1420.000
807,807,03/03/15 10:12,745.000,call,2015-03,Vodafone,mobile,2980.000
808,808,03/03/15 10:27,57.000,call,2015-03,Vodafone,mobile,228.000
809,809,03/03/15 14:34,1325.000,call,2015-03,Vodafone,mobile,5300.000
810,810,03/03/15 18:36,768.000,call,2015-03,Three,mobile,3072.000
811,811,04/03/15 06:58,34.429,data,2015-03,data,data,137.716
812,812,04/03/15 07:02,1.000,sms,2015-03,Vodafone,mobile,4.000
813,813,04/03/15 07:16,1.000,sms,2015-03,Vodafone,mobile,4.000
814,814,04/03/15 10:30,1.000,sms,2015-03,Three,mobile,4.000
815,815,04/03/15 10:30,1.000,sms,2015-03,Three,mobile,4.000
816,816,04/03/15 12:29,10528.000,call,2015-03,landline,landline,42112.000
817,817,05/03/15 06:58,34.429,data,2015-03,data,data,137.716
818,818,06/03/15 06:58,34.429,data,2015-03,data,data,137.716
819,819,07/03/15 06:58,34.429,data,2015-03,data,data,137.716
820,820,08/03/15 06:58,34.429,data,2015-03,data,data,137.716
821,821,09/03/15 06:58,34.429,data,2015-03,data,data,137.716
822,822,10/03/15 06:58,34.429,data,2015-03,data,data,137.716
823,823,11/03/15 06:58,34.429,data,2015-03,data,data,137.716
824,824,12/03/15 06:58,34.429,data,2015-03,data,data,137.716
825,825,13/03/15 00:38,1.000,sms,2015-03,world,world,2.000
826,826,13/03/15 00:39,1.000,sms,2015-03,Vodafone,mobile,4.000
827,827,13/03/15 06:58,34.429,data,2015-03,data,data,137.716
828,828,14/03/15 00:13,1.000,sms,2015-03,world,world,2.000
829,829,14/03/15 00:16,1.000,sms,2015-03,world,world,2.000

In [40]:
df.sort_values('duration') #ascending

,index,date,duration,item,month,network,network_type,new_duration
829,829,14/03/15 00:16,1.0,sms,2015-03,world,world,2.0
247,247,18/11/14 08:45,1.0,sms,2014-12,Vodafone,mobile,4.0
246,246,18/11/14 08:42,1.0,sms,2014-12,Vodafone,mobile,4.0
245,245,18/11/14 08:39,1.0,sms,2014-12,Vodafone,mobile,4.0
244,244,18/11/14 08:34,1.0,sms,2014-12,Vodafone,mobile,4.0
243,243,18/11/14 08:34,1.0,sms,2014-12,Vodafone,mobile,4.0
242,242,18/11/14 08:33,1.0,sms,2014-12,Vodafone,mobile,4.0
241,241,18/11/14 08:29,1.0,sms,2014-12,Vodafone,mobile,4.0
240,240,18/11/14 08:29,1.0,sms,2014-12,Vodafone,mobile,4.0
239,239,18/11/14 08:22,1.0,sms,2014-12,Vodafone,mobile,4.0
553,553,08/01/15 23:06,1.0,sms,2015-01,Vodafone,mobile,4.0
554,554,08/01/15 23:06,1.0,sms,2015-01,Vodafone,mobile,4.0
556,556,09/01/15 09:25,1.0,sms,2015-01,Meteor,mobile,4.0
233,233,14/11/14 17:28,1.0,sms,2014-12,Vodafone,mobile,4.0
230,230,13/11/14 22:31,1.0,sms,2014-11,Vodafone,mobile,4.0
229,229,13/11/14 22:30,1.0,sms,2014-11,Three,mobile,4.0
566,566,10/01/15 21:16,1.0,sms,2015-01,Vodafone,mobile,4.0
227,227,12/11/14 19:20,1.0,sms,2014-11,Vodafone,mobile,4.0
248,248,18/11/14 09:35,1.0,sms,2014-12,Vodafone,mobile,4.0
226,226,12/11/14 19:18,1.0,sms,2014-11,Three,mobile,4.0
552,552,08/01/15 22:52,1.0,sms,2015-01,Vodafone,mobile,4.0
550,550,08/01/15 22:41,1.0,sms,2015-01,Vodafone,mobile,4.0
508,508,02/01/15 23:28,1.0,sms,2015-01,Meteor,mobile,4.0
521,521,05/01/15 10:25,1.0,sms,2015-01,Three,mobile,4.0
522,522,05/01/15 10:52,1.0,sms,2015-01,Three,mobile,4.0
530,530,06/01/15 09:04,1.0,sms,2015-01,Three,mobile,4.0
531,531,06/01/15 09:04,1.0,sms,2015-01,Three,mobile,4.0
534,534,06/01/15 13:55,1.0,sms,2015-01,Vodafone,mobile,4.0
538,538,07/01/15 09:28,1.0,sms,2015-01,Vodafone,mobile,4.0
539,539,07/01/15 21:20,1.0,sms,2015-01,Vodafone,mobile,4.0
...,...,...,...,...,...,...,...,...
810,810,03/03/15 18:36,768.0,call,2015-03,Three,mobile,3072.0
631,631,21/01/15 18:04,777.0,call,2015-02,Tesco,mobile,3108.0
27,27,18/10/14 11:51,783.0,call,2014-11,Tesco,mobile,3132.0
709,709,07/02/15 17:33,795.0,call,2015-02,Three,mobile,3180.0
354,354,05/12/14 18:25,826.0,call,2014-12,Three,mobile,3304.0
93,93,28/10/14 16:39,833.0,call,2014-11,landline,landline,3332.0
344,344,03/12/14 15:01,844.0,call,2014-12,landline,landline,3376.0
90,90,27/10/14 19:20,862.0,call,2014-11,Three,mobile,3448.0
112,112,01/11/14 15:13,955.0,call,2014-11,Vodafone,mobile,3820.0
441,441,22/12/14 23:12,956.0,call,2015-01,Three,mobile,3824.0
268,268,21/11/14 11:31,982.0,call,2014-12,Vodafone,mobile,3928.0
223,223,12/11/14 17:59,1001.0,call,2014-11,Three,mobile,4004.0
116,116,02/11/14 15:44,1023.0,call,2014-11,Three,mobile,4092.0
117,117,02/11/14 19:16,1025.0,call,2014-11,Three,mobile,4100.0
8,8,16/10/14 15:12,1050.0,call,2014-11,Three,mobile,4200.0
632,632,21/01/15 19:38,1090.0,call,2015-02,Meteor,mobile,4360.0
636,636,22/01/15 19:00,1107.0,call,2015-02,Vodafone,mobile,4428.0
322,322,27/11/14 16:53,1116.0,call,2014-12,Three,mobile,4464.0
10,10,16/10/14 16:21,1183.0,call,2014-11,Three,mobile,4732.0
171,171,07/11/14 09:33,1205.0,call,2014-11,Vodafone,mobile,4820.0
105,105,31/10/14 13:27,1234.0,call,2014-11,Tesco,mobile,4936.0
548,548,08/01/15 20:31,1247.0,call,2015-01,Three,mobile,4988.0
809,809,03/03/15 14:34,1325.0,call,2015-03,Vodafone,mobile,5300.0
31,31,18/10/14 13:10,1714.0,call,2014-11,Three,mobile,6856.0
398,398,17/12/14 18:08,1859.0,call,2015-01,Vodafone,mobile,7436.0
648,648,25/01/15 16:55,1863.0,call,2015-02,Three,mobile,7452.0
59,59,23/10/14 08:34,1940.0,call,2014-11,landline,landline,7760.0
252,252,19/11/14 18:56,2120.0,call,2014-12,Three,mobile,8480.0
742,742,17/02/15 19:09,2328.0,call,2015-03,Three,mobile,9312.0
816,816,04/03/15 12:29,10528.0,call,2015-03,landline,landline,42112.0

In [41]:
df.sort_values('duration', ascending = False ) #descending

,index,date,duration,item,month,network,network_type,new_duration
816,816,04/03/15 12:29,10528.0,call,2015-03,landline,landline,42112.0
742,742,17/02/15 19:09,2328.0,call,2015-03,Three,mobile,9312.0
252,252,19/11/14 18:56,2120.0,call,2014-12,Three,mobile,8480.0
59,59,23/10/14 08:34,1940.0,call,2014-11,landline,landline,7760.0
648,648,25/01/15 16:55,1863.0,call,2015-02,Three,mobile,7452.0
398,398,17/12/14 18:08,1859.0,call,2015-01,Vodafone,mobile,7436.0
31,31,18/10/14 13:10,1714.0,call,2014-11,Three,mobile,6856.0
809,809,03/03/15 14:34,1325.0,call,2015-03,Vodafone,mobile,5300.0
548,548,08/01/15 20:31,1247.0,call,2015-01,Three,mobile,4988.0
105,105,31/10/14 13:27,1234.0,call,2014-11,Tesco,mobile,4936.0
171,171,07/11/14 09:33,1205.0,call,2014-11,Vodafone,mobile,4820.0
10,10,16/10/14 16:21,1183.0,call,2014-11,Three,mobile,4732.0
322,322,27/11/14 16:53,1116.0,call,2014-12,Three,mobile,4464.0
636,636,22/01/15 19:00,1107.0,call,2015-02,Vodafone,mobile,4428.0
632,632,21/01/15 19:38,1090.0,call,2015-02,Meteor,mobile,4360.0
8,8,16/10/14 15:12,1050.0,call,2014-11,Three,mobile,4200.0
117,117,02/11/14 19:16,1025.0,call,2014-11,Three,mobile,4100.0
116,116,02/11/14 15:44,1023.0,call,2014-11,Three,mobile,4092.0
223,223,12/11/14 17:59,1001.0,call,2014-11,Three,mobile,4004.0
268,268,21/11/14 11:31,982.0,call,2014-12,Vodafone,mobile,3928.0
441,441,22/12/14 23:12,956.0,call,2015-01,Three,mobile,3824.0
112,112,01/11/14 15:13,955.0,call,2014-11,Vodafone,mobile,3820.0
90,90,27/10/14 19:20,862.0,call,2014-11,Three,mobile,3448.0
344,344,03/12/14 15:01,844.0,call,2014-12,landline,landline,3376.0
93,93,28/10/14 16:39,833.0,call,2014-11,landline,landline,3332.0
354,354,05/12/14 18:25,826.0,call,2014-12,Three,mobile,3304.0
709,709,07/02/15 17:33,795.0,call,2015-02,Three,mobile,3180.0
27,27,18/10/14 11:51,783.0,call,2014-11,Tesco,mobile,3132.0
631,631,21/01/15 18:04,777.0,call,2015-02,Tesco,mobile,3108.0
810,810,03/03/15 18:36,768.0,call,2015-03,Three,mobile,3072.0
...,...,...,...,...,...,...,...,...
211,211,12/11/14 10:48,1.0,sms,2014-11,Vodafone,mobile,4.0
212,212,12/11/14 10:49,1.0,sms,2014-11,Three,mobile,4.0
213,213,12/11/14 12:04,1.0,sms,2014-11,Three,mobile,4.0
556,556,09/01/15 09:25,1.0,sms,2015-01,Meteor,mobile,4.0
214,214,12/11/14 13:49,1.0,sms,2014-11,Vodafone,mobile,4.0
554,554,08/01/15 23:06,1.0,sms,2015-01,Vodafone,mobile,4.0
553,553,08/01/15 23:06,1.0,sms,2015-01,Vodafone,mobile,4.0
552,552,08/01/15 22:52,1.0,sms,2015-01,Vodafone,mobile,4.0
575,575,12/01/15 18:26,1.0,sms,2015-01,Vodafone,mobile,4.0
205,205,11/11/14 14:20,1.0,sms,2014-11,Meteor,mobile,4.0
410,410,19/12/14 08:57,1.0,sms,2015-01,Vodafone,mobile,4.0
204,204,11/11/14 14:13,1.0,sms,2014-11,Meteor,mobile,4.0
293,293,25/11/14 16:09,1.0,sms,2014-12,Meteor,mobile,4.0
599,599,16/01/15 09:45,1.0,call,2015-02,Meteor,mobile,4.0
596,596,15/01/15 12:23,1.0,sms,2015-02,special,special,4.0
197,197,10/11/14 18:19,1.0,sms,2014-11,Three,mobile,4.0
593,593,14/01/15 23:36,1.0,sms,2015-01,Three,mobile,4.0
592,592,14/01/15 23:35,1.0,sms,2015-01,Three,mobile,4.0
591,591,14/01/15 23:34,1.0,sms,2015-01,Vodafone,mobile,4.0
590,590,14/01/15 23:34,1.0,sms,2015-01,Vodafone,mobile,4.0
198,198,10/11/14 18:34,1.0,sms,2014-11,Three,mobile,4.0
289,289,24/11/14 09:40,1.0,sms,2014-12,Three,mobile,4.0
419,419,19/12/14 18:44,1.0,sms,2015-01,Vodafone,mobile,4.0
202,202,11/11/14 11:37,1.0,sms,2014-11,Three,mobile,4.0
583,583,13/01/15 19:57,1.0,sms,2015-01,Vodafone,mobile,4.0
582,582,13/01/15 19:57,1.0,sms,2015-01,Vodafone,mobile,4.0
581,581,13/01/15 19:44,1.0,sms,2015-01,Three,mobile,4.0
580,580,13/01/15 19:44,1.0,sms,2015-01,Three,mobile,4.0
579,579,13/01/15 19:09,1.0,sms,2015-01,Three,mobile,4.0
829,829,14/03/15 00:16,1.0,sms,2015-03,world,world,2.0

In [43]:
df.sort_values(['duration', 'network'], ascending=[False, True]) #ascending

,index,date,duration,item,month,network,network_type,new_duration
816,816,04/03/15 12:29,10528.0,call,2015-03,landline,landline,42112.0
742,742,17/02/15 19:09,2328.0,call,2015-03,Three,mobile,9312.0
252,252,19/11/14 18:56,2120.0,call,2014-12,Three,mobile,8480.0
59,59,23/10/14 08:34,1940.0,call,2014-11,landline,landline,7760.0
648,648,25/01/15 16:55,1863.0,call,2015-02,Three,mobile,7452.0
398,398,17/12/14 18:08,1859.0,call,2015-01,Vodafone,mobile,7436.0
31,31,18/10/14 13:10,1714.0,call,2014-11,Three,mobile,6856.0
809,809,03/03/15 14:34,1325.0,call,2015-03,Vodafone,mobile,5300.0
548,548,08/01/15 20:31,1247.0,call,2015-01,Three,mobile,4988.0
105,105,31/10/14 13:27,1234.0,call,2014-11,Tesco,mobile,4936.0
171,171,07/11/14 09:33,1205.0,call,2014-11,Vodafone,mobile,4820.0
10,10,16/10/14 16:21,1183.0,call,2014-11,Three,mobile,4732.0
322,322,27/11/14 16:53,1116.0,call,2014-12,Three,mobile,4464.0
636,636,22/01/15 19:00,1107.0,call,2015-02,Vodafone,mobile,4428.0
632,632,21/01/15 19:38,1090.0,call,2015-02,Meteor,mobile,4360.0
8,8,16/10/14 15:12,1050.0,call,2014-11,Three,mobile,4200.0
117,117,02/11/14 19:16,1025.0,call,2014-11,Three,mobile,4100.0
116,116,02/11/14 15:44,1023.0,call,2014-11,Three,mobile,4092.0
223,223,12/11/14 17:59,1001.0,call,2014-11,Three,mobile,4004.0
268,268,21/11/14 11:31,982.0,call,2014-12,Vodafone,mobile,3928.0
441,441,22/12/14 23:12,956.0,call,2015-01,Three,mobile,3824.0
112,112,01/11/14 15:13,955.0,call,2014-11,Vodafone,mobile,3820.0
90,90,27/10/14 19:20,862.0,call,2014-11,Three,mobile,3448.0
344,344,03/12/14 15:01,844.0,call,2014-12,landline,landline,3376.0
93,93,28/10/14 16:39,833.0,call,2014-11,landline,landline,3332.0
354,354,05/12/14 18:25,826.0,call,2014-12,Three,mobile,3304.0
709,709,07/02/15 17:33,795.0,call,2015-02,Three,mobile,3180.0
27,27,18/10/14 11:51,783.0,call,2014-11,Tesco,mobile,3132.0
631,631,21/01/15 18:04,777.0,call,2015-02,Tesco,mobile,3108.0
810,810,03/03/15 18:36,768.0,call,2015-03,Three,mobile,3072.0
...,...,...,...,...,...,...,...,...
701,701,07/02/15 11:13,1.0,sms,2015-02,Vodafone,mobile,4.0
703,703,07/02/15 15:04,1.0,sms,2015-02,Vodafone,mobile,4.0
721,721,09/02/15 18:32,1.0,sms,2015-02,Vodafone,mobile,4.0
723,723,10/02/15 00:24,1.0,sms,2015-02,Vodafone,mobile,4.0
724,724,10/02/15 00:24,1.0,sms,2015-02,Vodafone,mobile,4.0
726,726,10/02/15 21:40,1.0,sms,2015-02,Vodafone,mobile,4.0
747,747,19/02/15 18:46,1.0,sms,2015-03,Vodafone,mobile,4.0
748,748,19/02/15 22:00,1.0,sms,2015-03,Vodafone,mobile,4.0
749,749,19/02/15 22:00,1.0,sms,2015-03,Vodafone,mobile,4.0
750,750,19/02/15 22:00,1.0,sms,2015-03,Vodafone,mobile,4.0
789,789,28/02/15 21:55,1.0,sms,2015-03,Vodafone,mobile,4.0
794,794,02/03/15 09:19,1.0,sms,2015-03,Vodafone,mobile,4.0
795,795,02/03/15 09:19,1.0,sms,2015-03,Vodafone,mobile,4.0
796,796,02/03/15 09:23,1.0,sms,2015-03,Vodafone,mobile,4.0
797,797,02/03/15 09:30,1.0,sms,2015-03,Vodafone,mobile,4.0
798,798,02/03/15 09:30,1.0,sms,2015-03,Vodafone,mobile,4.0
812,812,04/03/15 07:02,1.0,sms,2015-03,Vodafone,mobile,4.0
813,813,04/03/15 07:16,1.0,sms,2015-03,Vodafone,mobile,4.0
826,826,13/03/15 00:39,1.0,sms,2015-03,Vodafone,mobile,4.0
121,121,03/11/14 08:40,1.0,sms,2014-11,special,special,4.0
596,596,15/01/15 12:23,1.0,sms,2015-02,special,special,4.0
688,688,04/02/15 17:04,1.0,sms,2015-02,special,special,4.0
136,136,04/11/14 14:26,1.0,call,2014-11,voicemail,voicemail,4.0
360,360,06/12/14 18:27,1.0,sms,2014-12,world,world,2.0
361,361,06/12/14 18:28,1.0,sms,2014-12,world,world,2.0
370,370,07/12/14 23:22,1.0,sms,2014-12,world,world,2.0
371,371,07/12/14 23:22,1.0,sms,2014-12,world,world,2.0
825,825,13/03/15 00:38,1.0,sms,2015-03,world,world,2.0
828,828,14/03/15 00:13,1.0,sms,2015-03,world,world,2.0
829,829,14/03/15 00:16,1.0,sms,2015-03,world,world,2.0

#WORKING WITH DATES

Directive

%a Weekday as locale’s abbreviated name. Sun, Mon, …, Sat (en_US) So, Mo, …, Sa (de_DE)

%A Weekday as locale’s full name. Sunday, Monday, …, Saturday (en_US) Sonntag, Montag, …, Samstag (de_DE)

%w Weekday as a decimal number, where 0 is Sunday and 6 is Saturday. 0, 1, 2, 3, 4, 5, 6

%d Day of the month as a zero-padded decimal number. 01, 02, …, 31

In [45]:
pd.to_datetime(df['date']) >= '2015-01-01'

0      False
1      False
2      False
3      False
4      False
5      False
6      False
7      False
8      False
9      False
10     False
11     False
12     False
13     False
14     False
15     False
16     False
17     False
18     False
19     False
20     False
21     False
22     False
23     False
24     False
25     False
26     False
27     False
28     False
29     False
       ...
800     True
801     True
802     True
803     True
804     True
805     True
806     True
807     True
808     True
809     True
810     True
811     True
812     True
813     True
814     True
815     True
816     True
817     True
818     True
819     True
820     True
821     True
822     True
823     True
824     True
825     True
826     True
827     True
828     True
829     True
Name: date, Length: 830, dtype: bool

In [46]:
sum(pd.to_datetime(df['date']) >= '2015-01-01')

326

In [48]:
from datetime import datetime
from datetime import date
df['new_date']=[datetime.strptime(x,'%d/%m/%y %H:%M') for x in df['date']]

In [49]:
type(df['new_date'][0])

pandas._libs.tslibs.timestamps.Timestamp

In [51]:
type(df['date'][0])

str

In [53]:
print(date.today())
print(datetime.now())

2019-12-20
2019-12-20 09:17:13.035965

In [56]:
df[df.month=='2014-11']['duration'].sum()

26639.441000000003

In [57]:
df.groupby('month')['duration'].sum()

month
2014-11    26639.441
2014-12    14641.870
2015-01    18223.299
2015-02    15522.299
2015-03    22750.441
Name: duration, dtype: float64

In [58]:
df.groupby('month')['date'].count()

month
2014-11    230
2014-12    157
2015-01    205
2015-02    137
2015-03    101
Name: date, dtype: int64

In [59]:
df[df['item']=='call'].groupby('network')['duration'].sum()

network
Meteor        7200.0
Tesco        13828.0
Three        36464.0
Vodafone     14621.0
landline     18433.0
voicemail     1775.0
Name: duration, dtype: float64

In [61]:
df.groupby(['network','item'])['duration'].sum()

network    item
Meteor     call     7200.00
           sms        33.00
Tesco      call    13828.00
           sms        13.00
Three      call    36464.00
           sms        87.00
Vodafone   call    14621.00
           sms       149.00
data       data     5164.35
landline   call    18433.00
special    sms         3.00
voicemail  call     1775.00
world      sms         7.00
Name: duration, dtype: float64

In [63]:
df.groupby(['network','item'])['duration'].sum().reset_index()

      network  item  duration
0      Meteor  call   7200.00
1      Meteor   sms     33.00
2       Tesco  call  13828.00
3       Tesco   sms     13.00
4       Three  call  36464.00
5       Three   sms     87.00
6    Vodafone  call  14621.00
7    Vodafone   sms    149.00
8        data  data   5164.35
9    landline  call  18433.00
10    special   sms      3.00
11  voicemail  call   1775.00
12      world   sms      7.00

In [3]:
import turtle
turtle.color("red","yellow")
turtle.begin_fill()
turtle.speed(10)

for i in range(50):
    turtle.forward(300)
    turtle.left(170)

turtle.end_fill()
turtle.done()

In [5]:
from turtle import *
from random import randint

speed(50)

bgcolor('black')

x = 1

while x < 500:
    
    r = randint(0,255)
    g = randint(0,255)
    b = randint(0,255)

    colormode(255)

    pencolor(r,g,b)

    fd(50 + x)
    rt(90.911)

    x = x+1

exitonclick()

Terminator:

In [1]:
import pandas as pd

In [2]:
sal = pd.read_csv('Salaries.csv')

In [3]:
sal

,Id,EmployeeName,JobTitle,BasePay,OvertimePay,OtherPay,Benefits,TotalPay,TotalPayBenefits,Year,Notes,Agency,Status
0,1,NATHANIEL FORD,GENERAL MANAGER-METROPOLITAN TRANSIT AUTHORITY,167411.18,0.00,400184.25,NaN,567595.43,567595.43,2011,NaN,San Francisco,NaN
1,2,GARY JIMENEZ,CAPTAIN III (POLICE DEPARTMENT),155966.02,245131.88,137811.38,NaN,538909.28,538909.28,2011,NaN,San Francisco,NaN
2,3,ALBERT PARDINI,CAPTAIN III (POLICE DEPARTMENT),212739.13,106088.18,16452.60,NaN,335279.91,335279.91,2011,NaN,San Francisco,NaN
3,4,CHRISTOPHER CHONG,WIRE ROPE CABLE MAINTENANCE MECHANIC,77916.00,56120.71,198306.90,NaN,332343.61,332343.61,2011,NaN,San Francisco,NaN
4,5,PATRICK GARDNER,"DEPUTY CHIEF OF DEPARTMENT,(FIRE DEPARTMENT)",134401.60,9737.00,182234.59,NaN,326373.19,326373.19,2011,NaN,San Francisco,NaN
5,6,DAVID SULLIVAN,ASSISTANT DEPUTY CHIEF II,118602.00,8601.00,189082.74,NaN,316285.74,316285.74,2011,NaN,San Francisco,NaN
6,7,ALSON LEE,"BATTALION CHIEF, (FIRE DEPARTMENT)",92492.01,89062.90,134426.14,NaN,315981.05,315981.05,2011,NaN,San Francisco,NaN
7,8,DAVID KUSHNER,DEPUTY DIRECTOR OF INVESTMENTS,256576.96,0.00,51322.50,NaN,307899.46,307899.46,2011,NaN,San Francisco,NaN
8,9,MICHAEL MORRIS,"BATTALION CHIEF, (FIRE DEPARTMENT)",176932.64,86362.68,40132.23,NaN,303427.55,303427.55,2011,NaN,San Francisco,NaN
9,10,JOANNE HAYES-WHITE,"CHIEF OF DEPARTMENT, (FIRE DEPARTMENT)",285262.00,0.00,17115.73,NaN,302377.73,302377.73,2011,NaN,San Francisco,NaN
10,11,ARTHUR KENNEY,"ASSISTANT CHIEF OF DEPARTMENT, (FIRE DEPARTMENT)",194999.39,71344.88,33149.90,NaN,299494.17,299494.17,2011,NaN,San Francisco,NaN
11,12,PATRICIA JACKSON,CAPTAIN III (POLICE DEPARTMENT),99722.00,87082.62,110804.30,NaN,297608.92,297608.92,2011,NaN,San Francisco,NaN
12,13,EDWARD HARRINGTON,EXECUTIVE CONTRACT EMPLOYEE,294580.02,0.00,0.00,NaN,294580.02,294580.02,2011,NaN,San Francisco,NaN
13,14,JOHN MARTIN,DEPARTMENT HEAD V,271329.03,0.00,21342.59,NaN,292671.62,292671.62,2011,NaN,San Francisco,NaN
14,15,DAVID FRANKLIN,"BATTALION CHIEF, (FIRE DEPARTMENT)",174872.64,74050.30,37424.11,NaN,286347.05,286347.05,2011,NaN,San Francisco,NaN
15,16,RICHARD CORRIEA,"COMMANDER III, (POLICE DEPARTMENT)",198778.01,73478.20,13957.65,NaN,286213.86,286213.86,2011,NaN,San Francisco,NaN
16,17,AMY HART,DEPARTMENT HEAD V,268604.57,0.00,16115.86,NaN,284720.43,284720.43,2011,NaN,San Francisco,NaN
17,18,SEBASTIAN WONG,"CAPTAIN, EMERGENCYCY MEDICAL SERVICES",140546.87,119397.26,18625.08,NaN,278569.21,278569.21,2011,NaN,San Francisco,NaN
18,19,MARTY ROSS,"BATTALION CHIEF, (FIRE DEPARTMENT)",168692.63,69626.12,38115.47,NaN,276434.22,276434.22,2011,NaN,San Francisco,NaN
19,20,ELLEN MOFFATT,ASSISTANT MEDICAL EXAMINER,257510.59,880.16,16159.50,NaN,274550.25,274550.25,2011,NaN,San Francisco,NaN
20,21,VENUS AZAR,ASSISTANT MEDICAL EXAMINER,257510.48,0.00,16679.79,NaN,274190.27,274190.27,2011,NaN,San Francisco,NaN
21,22,JUDY MELINEK,ASSISTANT MEDICAL EXAMINER,257510.44,377.21,15883.56,NaN,273771.21,273771.21,2011,NaN,San Francisco,NaN
22,23,GEORGE GARCIA,"CAPTAIN, FIRE SUPPRESSION",140546.88,93200.58,39955.25,NaN,273702.71,273702.71,2011,NaN,San Francisco,NaN
23,24,VICTOR WYRSCH,"BATTALION CHIEF, (FIRE DEPARTMENT)",168692.63,77896.14,24083.86,NaN,270672.63,270672.63,2011,NaN,San Francisco,NaN
24,25,JOSEPH DRISCOLL,"CAPTAIN, FIRE SUPPRESSION",140546.86,97868.77,31909.28,NaN,270324.91,270324.91,2011,NaN,San Francisco,NaN
25,26,GREGORY SUHR,CHIEF OF POLICE,256470.41,0.00,11522.18,NaN,267992.59,267992.59,2011,NaN,San Francisco,NaN
26,27,JOHN HANLEY,"CAPTAIN, FIRE SUPPRESSION",92080.80,40008.00,133695.76,NaN,265784.56,265784.56,2011,NaN,San Francisco,NaN
27,28,RAYMOND GUZMAN,"BATTALION CHIEF, (FIRE DEPARTMENT)",168692.59,80706.88,16063.99,NaN,265463.46,265463.46,2011,NaN,San Francisco,NaN
28,29,DENISE SCHMITT,DEPUTY CHIEF III (POLICE DEPARTMENT),261717.60,0.00,2357.00,NaN,264074.60,264074.60,2011,NaN,San Francisco,NaN
29,30,MONICA FIELDS,"DEPUTY CHIEF OF DEPARTMENT,(FIRE DEPARTMENT)",246225.60,0.00,15140.54,NaN,261366.14,261366.14,2011,NaN,San Francisco,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
148624,148625,Lorraine Rosenthal,Senior Clerk,0.00,0.00,12.89,0.00,12.89,12.89,2014,NaN,San Francisco,NaN
148625,148626,Renato C Gurion,Registered Nurse,0.00,0.00,6.00,1.24,6.00,7.24,2014,NaN,San Francisco,NaN
148626,148627,Paulet Gaines,Account Clerk,0.00,0.00,0.00,0.00,0.00,0.00,2014,NaN,San Francisco,NaN
148627,148628,Brett A Lundberg,General Laborer,0.00,0.00,0.00,0.00,0.00,0.00,2014,NaN,San Francisco,NaN
148628,148629,Mark W Mcclure,General Laborer,0.00,0.00,0.00,0.00,0.00,0.00,2014,NaN,San Francisco,NaN
148629,148630,Elizabeth Iniguez,Transcriber Typist,0.00,0.00,0.00,0.00,0.00,0.00,2014,NaN,San Francisco,NaN
148630,148631,Randy J Keys,Carpenter,0.00,0.00,0.00,0.00,0.00,0.00,2014,NaN,San Francisco,NaN
148631,148632,Andre M Johnson,Communications Dispatcher 1,0.00,0.00,0.00,0.00,0.00,0.00,2014,NaN,San Francisco,NaN
148632,148633,Sharon D Owens-Webster,Protective Services Worker,0.00,0.00,0.00,0.00,0.00,0.00,2014,NaN,San Francisco,NaN
148633,148634,Edward Ferdinand,General Laborer,0.00,0.00,0.00,0.00,0.00,0.00,2014,NaN,San Francisco,NaN
148634,148635,David M Turner,Transit Car Cleaner,0.00,0.00,0.00,0.00,0.00,0.00,2014,NaN,San Francisco,NaN
148635,148636,James S Kibblewhite,General Laborer,0.00,0.00,0.00,0.00,0.00,0.00,2014,NaN,San Francisco,NaN
148636,148637,Andrew J Enzi,Arborist Technician,0.00,0.00,0.00,0.00,0.00,0.00,2014,NaN,San Francisco,NaN
148637,148638,Kadeshra D Green,Transit Fare Inspector,0.00,0.00,0.00,0.00,0.00,0.00,2014,NaN,San Francisco,NaN
148638,148639,Lennard B Hutchinson,Electrician,0.00,0.00,0.00,0.00,0.00,0.00,2014,NaN,San Francisco,NaN
148639,148640,Richard A Talbert,Custodian,0.00,0.00,0.00,0.00,0.00,0.00,2014,NaN,San Francisco,NaN
148640,148641,Charlene D Mccully,Parking Control Officer,0.00,0.00,0.00,0.00,0.00,0.00,2014,NaN,San Francisco,NaN
148641,148642,Raphael Marquis Goins,Museum Guard,0.00,0.00,0.00,0.00,0.00,0.00,2014,NaN,San Francisco,NaN
148642,148643,Dominic C Marquez,Sign Worker,0.00,0.00,0.00,0.00,0.00,0.00,2014,NaN,San Francisco,NaN
148643,148644,Kim Brewer,Parking Control Officer,0.00,0.00,0.00,0.00,0.00,0.00,2014,NaN,San Francisco,NaN
148644,148645,Randy D Winn,"Stationary Eng, Sewage Plant",0.00,0.00,0.00,0.00,0.00,0.00,2014,NaN,San Francisco,NaN
148645,148646,Carolyn A Wilson,Human Services Technician,0.00,0.00,0.00,0.00,0.00,0.00,2014,NaN,San Francisco,NaN
148646,148647,Not provided,Not provided,NaN,NaN,NaN,NaN,0.00,0.00,2014,NaN,San Francisco,NaN
148647,148648,Joann Anderson,Communications Dispatcher 2,0.00,0.00,0.00,0.00,0.00,0.00,2014,NaN,San Francisco,NaN
148648,148649,Leon Walker,Custodian,0.00,0.00,0.00,0.00,0.00,0.00,2014,NaN,San Francisco,NaN
148649,148650,Roy I Tillery,Custodian,0.00,0.00,0.00,0.00,0.00,0.00,2014,NaN,San Francisco,NaN
148650,148651,Not provided,Not provided,NaN,NaN,NaN,NaN,0.00,0.00,2014,NaN,San Francisco,NaN
148651,148652,Not provided,Not provided,NaN,NaN,NaN,NaN,0.00,0.00,2014,NaN,San Francisco,NaN
148652,148653,Not provided,Not provided,NaN,NaN,NaN,NaN,0.00,0.00,2014,NaN,San Francisco,NaN
148653,148654,Joe Lopez,"Counselor, Log Cabin Ranch",0.00,0.00,-618.13,0.00,-618.13,-618.13,2014,NaN,San Francisco,NaN

In [6]:
sal.head(1)

,Id,EmployeeName,JobTitle,BasePay,OvertimePay,OtherPay,Benefits,TotalPay,TotalPayBenefits,Year,Notes,Agency,Status
0,1,NATHANIEL FORD,GENERAL MANAGER-METROPOLITAN TRANSIT AUTHORITY,167411.18,0.0,400184.25,NaN,567595.43,567595.43,2011,NaN,San Francisco,NaN

In [7]:
sal.tail()

,Id,EmployeeName,JobTitle,BasePay,OvertimePay,OtherPay,Benefits,TotalPay,TotalPayBenefits,Year,Notes,Agency,Status
148649,148650,Roy I Tillery,Custodian,0.0,0.0,0.00,0.0,0.00,0.00,2014,NaN,San Francisco,NaN
148650,148651,Not provided,Not provided,NaN,NaN,NaN,NaN,0.00,0.00,2014,NaN,San Francisco,NaN
148651,148652,Not provided,Not provided,NaN,NaN,NaN,NaN,0.00,0.00,2014,NaN,San Francisco,NaN
148652,148653,Not provided,Not provided,NaN,NaN,NaN,NaN,0.00,0.00,2014,NaN,San Francisco,NaN
148653,148654,Joe Lopez,"Counselor, Log Cabin Ranch",0.0,0.0,-618.13,0.0,-618.13,-618.13,2014,NaN,San Francisco,NaN

In [8]:
sal.info() #for information

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 148654 entries, 0 to 148653
Data columns (total 13 columns):
Id                  148654 non-null int64
EmployeeName        148654 non-null object
JobTitle            148654 non-null object
BasePay             148045 non-null float64
OvertimePay         148650 non-null float64
OtherPay            148650 non-null float64
Benefits            112491 non-null float64
TotalPay            148654 non-null float64
TotalPayBenefits    148654 non-null float64
Year                148654 non-null int64
Notes               0 non-null float64
Agency              148654 non-null object
Status              0 non-null float64
dtypes: float64(8), int64(2), object(3)
memory usage: 14.7+ MB

In [9]:
sal.describe()

,Id,BasePay,OvertimePay,OtherPay,Benefits,TotalPay,TotalPayBenefits,Year,Notes,Status
count,148654.000000,148045.000000,148650.000000,148650.000000,112491.000000,148654.000000,148654.000000,148654.000000,0.0,0.0
mean,74327.500000,66325.448841,5066.059886,3648.767297,25007.893151,74768.321972,93692.554811,2012.522643,NaN,NaN
std,42912.857795,42764.635495,11454.380559,8056.601866,15402.215858,50517.005274,62793.533483,1.117538,NaN,NaN
min,1.000000,-166.010000,-0.010000,-7058.590000,-33.890000,-618.130000,-618.130000,2011.000000,NaN,NaN
25%,37164.250000,33588.200000,0.000000,0.000000,11535.395000,36168.995000,44065.650000,2012.000000,NaN,NaN
50%,74327.500000,65007.450000,0.000000,811.270000,28628.620000,71426.610000,92404.090000,2013.000000,NaN,NaN
75%,111490.750000,94691.050000,4658.175000,4236.065000,35566.855000,105839.135000,132876.450000,2014.000000,NaN,NaN
max,148654.000000,319275.010000,245131.880000,400184.250000,96570.660000,567595.430000,567595.430000,2014.000000,NaN,NaN

In [11]:
sal[sal['OtherPay']==134426.14][['JobTitle','EmployeeName']]

                             JobTitle EmployeeName
6  BATTALION CHIEF, (FIRE DEPARTMENT)    ALSON LEE